<div class="container">
  <div class="gallery-section">
    <div class="gallery-section-box" *ngFor="let image of images">
        <img [@zoomIn]="'in'" src="{{image.url}}">
    </div>
  </div>
  <div class="gallery-side-nav">
    <div class="gallery-side-nav-header">
      <h3>Browse by categories
        <span id='button-arrow'
              class="fa"
              [ngClass]="{ 'fa-arrow-up': !isToggle ,
                         'fa-arrow-down': isToggle
              }"
              (click)="toggle()"
        >
        </span>
      </h3>
    </div>
    <div class="gallery-side-nav-body">
      <div *ngFor="let category of categories">
        <a class="category" href="{{category.url}}">{{category.name}}</a>
      </div>
    </div>
    <div [@slideInUp]="isArrowDownClicked" class="gallery-side-nav-body-mobile" *ngIf="isArrowDownClicked" >
      <div *ngFor="let category of categories">
        <a class="category" href="{{category.url}}">{{category.name}}</a>
      </div>
    </div>
  </div>
</div>
