<header>
  <div class="navbar-nav">
    <a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
      <i class="fas fa-home"></i>
      <span translate>Home</span>
    </a>
    <a class="nav-item nav-link text-uppercase" routerLink="/about" routerLinkActive="active">
      <i class="fas fa-question-circle"></i>
      <span translate>About</span>
    </a>
    <a class="nav-item nav-link text-uppercase" routerLink="/gallery" routerLinkActive="active">
      <i class="fas fa-question-circle"></i>
      <span translate>Gallery</span>
    </a>
  </div>
</header>

