<header>
  <div class="navbar">
    <div class="navbar-home-icon">
      <a class="" routerLink="/home" routerLinkActive="active">
        <i class="fas fa-chess-knight"></i>
      </a>
    </div>
    <div class="navbar-list-icons">
      <a routerLink="/gallery" routerLinkActive="active">
        Gallery
      </a>
      <a routerLink="/about" routerLinkActive="active">
        About
      </a>
    </div>
    <div></div>
    <div class="side-bar-nav" (click)="onToggle()">
      <i id="icon-side-menu" class="fas fa-bars"></i>
    </div>
  </div>
</header>
<div *ngIf="hidden" [@slideInOut] id="side-bar-menu">
    <a routerLink="/gallery" routerLinkActive="active">
      <span>Gallery</span>
    </a>
    <a routerLink="/about" routerLinkActive="active">
      <span>About</span>
    </a>
</div>

