$background-header-color: #000;
$icon-color: #aaa;
$icon-color-hover: #fff;
$side-menu-color: #eee;

.navbar {
  display:grid;
  grid-template-columns: 10% 80% 10%;
  height:10vh;
  justify-content: center;
  background: $background-header-color;
  position: fixed;
  width:100vw;
  .navbar-home-icon{
    display: flex;
    margin: auto;
    font-size:2.5em;
    a{
      color: $icon-color;
    }
    a:hover{
      color: $icon-color-hover;
    }
  }
  .navbar-list-icons {
    display: flex;
    flex-basis: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size:1em;
      margin:1em;
      color: $icon-color;
    }

    a:hover {
      color:$icon-color-hover;
      transition: height 0.3s, opacity 0.3s, transform 0.3s, border-bottom 0.3s;
      border-bottom: 2px solid #baa57b;
    }

  }
}
#side-bar-menu{
  display: none;
}
.side-bar-nav{
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-list-icons {
    display: none !important;
  }
  .navbar-home-icon{
    font-size: 2em;
  }
  .side-bar-nav {
    display: flex;
    font-size:2em;
    justify-self: end;
    margin: auto;
    i{
      color:$icon-color;
    }
  }
  #side-bar-menu{
    position: fixed;
    top:10vh;
    width:25vw;
    height:82.5vh;
    background: #baa57b ;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    a{
      text-decoration: none;
      color: $side-menu-color;
      text-transform: uppercase;
      letter-spacing: 2px;
      align-self: center;
      margin-top: 2em;
      border-bottom: 0.3em solid #fff;
      padding-bottom:0.20em;
      font-size:1em;
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar-home-icon{
    font-size:1.5em !important;
    padding-left:10px;
  }
  .side-bar-nav {
    display: flex;
    font-size:1.5em !important;
    justify-self: end;
    margin: auto;
    padding-right: 10px;
    i{
      color:$icon-color;
    }
  }
  #side-bar-menu{
    height:90vh !important;
    a{
      border-bottom: 0.15em solid #fff !important;
      padding-bottom:0.20em !important;
      font-size:0.75em !important;

    }
  }

}

