$background-header-color: #000;
$icon-color: #aaa;
$icon-color-hover: #fff;

.navbar-footer {
  display:grid;
  grid-template-columns: 10% 90%;
  background: $background-header-color;
  width: 100%;
  height:7.5vh;
  position: fixed;
  bottom: 0;
  .navbar-home-icon{
    display: flex;
    margin: auto;
    font-size:2em;
    a{
      color: $icon-color;
    }
    a:hover{
      color: $icon-color-hover;
    }
  }
  .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    a {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size:0.75em;
      margin:1em;
      align-self: center;
      color: $icon-color;

    }
    a:hover {
      color:$icon-color-hover;
    }

  }
}
@media screen and (max-width: 768px) {
  .navbar-list{
    a{
      font-size:0.25em !important;
    }
  }
}
@media screen and (max-width: 500px) {
  .navbar-footer{
    display:none;
  }
}
